<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jeremy Beagle Web Development</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="row header">
      <div class = "header-interior">
        <img class="banner-image" src="/img/banner-image.jpg">
        <h1 class="header-text">Jeremy Beagle</h1>
      </div>
    </div>
    <nav class="row">
      <ul class = "navbar-default">
        <li> <a href="/">Home</a> </li>
        <li class = "dropdown"> <a href="/Projects">Projects</a> </li>
      </ul>
    </nav>

    <%- body -%>

  </body>
</html>
